@inherits LayoutComponentBase


<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <i>Solver</i> zadataka
            </h1>
            <h2 class="subtitle">
                Markovljevi procesi: problem prognoziranja prodaje
            </h2>
        </div>
    </div>
</section>

<section class="container" style="width: 100%; padding-top: 3rem; padding-bottom: 3rem;">
    @Body
</section>

<footer class="footer" style="padding-bottom: 3rem;">
    <div class="content has-text-centered">
        <p>Autorska prava © Goran Alković, 2019.</p>
        <p>Apliakcija napravljena za potrebe kolegija <i>Operacijska istraživanja 2</i></p>
    </div>
</footer>